/* GLOBAL STYLE START */
.backgroundApp {
  -fx-background-color: rgb(71, 0, 71);
}

.header {
  -fx-padding: 15px 0px 3px;
  -fx-spacing: 10px;
}

.header > Label {
  -fx-text-fill: white;
  -fx-font-size: 52px;
  -fx-font-weight: bold;
}
/* GLOBAL STYLE END */


/* LOGIN ADMIN SCENE START */
.containerInputs {
  -fx-padding: 10px 120px 20px;
  -fx-spacing: 10px;
}

.containerInputs > Label {
  -fx-font-weight: bold;
  -fx-text-fill: rgb(228, 228, 228);
  -fx-font-size: 24px;
}

.containerInputs > TextField, 
.containerInputs > PasswordField {
  -fx-background-color: #7644ff;
  -fx-padding: 10px 20px;
  -fx-text-fill: rgb(252, 252, 252);
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-border-color: rgb(0, 247, 255);
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
}

.containerInputs > .loginStatus {
  -fx-font-size: 14px;
  -fx-text-fill: lightgreen;
  -fx-padding: 5px 0px 0px;
}

.containerButtons {
  -fx-padding: 5px 35px;
}

.containerButtons > Button {
  -fx-pref-width: 400px;
  -fx-padding: 10px;
  -fx-background-color: purple;
  -fx-text-fill: rgb(228, 228, 228);
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-border-color: rgb(227, 155, 255);
  -fx-border-width: 3px;
  -fx-border-style: dashed;
  -fx-border-radius: 10px;
  -fx-background-radius: 12px;
}

.containerButtons > Button:hover {
  -fx-cursor: hand;
  -fx-background-color: rgb(255, 0, 212);
  -fx-text-fill: rgb(255, 255, 255) !important;
  -fx-border-style: none;
}

.containerButtons > .backToLoginSceneButton {
  -fx-background-color: rgb(32, 32, 32);
  -fx-border-style: solid;
  -fx-border-color: rgb(255, 238, 0);
}

.containerButtons > .backToLoginSceneButton:hover {
  -fx-cursor: hand;
  -fx-background-color: rgb(0, 0, 0);
  -fx-text-fill: rgb(255, 255, 255) !important;
}
/* LOGIN ADMIN SCENE END */


/* NAVBAR START */
.containerNavbar {
  -fx-background-color: rgb(71, 0, 71);
  -fx-pref-height: 600px;
  -fx-spacing: 244px;
}

.containerNavbar > .containerNavbarMenu {
  -fx-spacing: 10px;
}

.containerNavbar > .containerNavbarMenu > Button {
  -fx-pref-width: 180px;
  -fx-padding: 15px 0px;
  -fx-background-color: rgb(71, 0, 71);
  -fx-font-weight: bold;
  -fx-text-fill: rgb(228, 228, 228);
  -fx-font-size: 16px;
}

.containerNavbar > .containerNavbarMenu > Button:hover {
  -fx-cursor: hand;
  -fx-background-color: rgb(165, 6, 165);
  -fx-text-fill: rgb(255, 255, 255) !important;
  -fx-border-color: rgb(156, 156, 156);
  -fx-border-width: 1px;
}

.containerNavbar > .containerNavbarFooter {
  -fx-spacing: 2px;
}

.containerNavbar > .containerNavbarFooter > Button {
  -fx-pref-width: 180px;
  -fx-padding: 12px 0px;
  -fx-background-color: rgb(197, 14, 14);
  -fx-font-weight: bold;
  -fx-text-fill: rgb(228, 228, 228);
  -fx-font-size: 16px;
}

.containerNavbar > .containerNavbarFooter > Button:hover {
  -fx-cursor: hand;
  -fx-background-color: rgb(255, 0, 0);
  -fx-text-fill: rgb(255, 255, 255) !important;
  -fx-border-width: 1px;
  -fx-border-color: rgb(114, 5, 56);
}

.containerNavbar > .containerNavbarFooter > .toContactAdminScene {
  -fx-background-color: rgb(71, 0, 71);
}

.containerNavbar > .containerNavbarFooter > .toContactAdminScene:hover {
  -fx-cursor: hand;
  -fx-background-color: rgb(255, 0, 255);
  -fx-text-fill: rgb(255, 255, 255) !important;
  -fx-border-width: 1px;
  -fx-border-color: rgb(0, 255, 229);
}
/* NAVBAR END */


/* HOMEPAGE SCENE START */
.containerContent {
  -fx-pref-width: 580px;
  -fx-padding: 50px 0px;
  -fx-spacing: 40px;
  -fx-background-color: rgb(228, 228, 228);
}

.containerContent > .containerProfile {
  -fx-spacing: 20px;
}

.containerContent > .containerProfile > Label {
  -fx-font-weight: bold;
  -fx-text-fill: rgb(70, 70, 70);
  -fx-font-size: 24px;
}

.containerContent > .containerProfile > .bukuDipinjam {
  -fx-font-size: 18px;
}
/* HOMEPAGE SCENE END */
