/* GLOBAL STYLE START */
.backgroundApp {
  -fx-background-color: #001f3f;
}

.header {
  -fx-padding: 15px 0px 8px;
  -fx-spacing: 5px;
}

.header > Label {
  -fx-text-fill: white;
  -fx-font-size: 52px;
  -fx-font-weight: bold;
}
/* GLOBAL STYLE END */


/* HOMEPAGE SCENE START */
.backgroundHomePage {
  -fx-background-color: rgb(153, 127, 14);
}

.containerProfile {
  -fx-padding: 10px 0px 20px 65px;
  -fx-spacing: 40px;
}

.containerProfileText {
  -fx-spacing: 20px;
}

.containerProfileText > Label {
  -fx-font-weight: bold;
  -fx-text-fill: rgb(228, 228, 228);
  -fx-font-size: 24px;
}

.containerProfileText > .bukuDipinjam {
  -fx-font-size: 18px;
}

.containerMenu {
  -fx-padding: 40px 50px;
  -fx-spacing: 50px;
  -fx-border-color: red;
  -fx-border-width: 1px;
}

.containerMenu > Button {
  -fx-pref-width: 150px;
  -fx-pref-height: 150px;
  -fx-background-color: purple;
  -fx-border-color: lightgreen;
  -fx-border-width: 3px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-font-weight: bold;
  -fx-text-fill: rgb(228, 228, 228);
  -fx-font-size: 22px;
  -fx-text-alignment: center;
}

.containerMenu > Button:hover {
  -fx-cursor: hand;
  -fx-background-color: rgb(255, 0, 212);
  -fx-text-fill: rgb(255, 255, 255) !important;
  -fx-border-style: none;
}

.containerFooter {
  -fx-padding: 70px 100px 10px;
  -fx-spacing: 70px;
}

.containerFooter > Button {
  -fx-pref-width: 250px;
  -fx-padding: 12px;
  -fx-background-color: rgb(197, 14, 14);
  -fx-text-fill: rgb(228, 228, 228);
  -fx-font-weight: bold;
  -fx-font-size: 18px;
  -fx-border-color: rgb(114, 5, 56);
  -fx-border-width: 3px;
  -fx-border-radius: 15px;
  -fx-background-radius: 18px;
}

.containerFooter > Button:hover {
  -fx-cursor: hand;
  -fx-background-color: rgb(255, 0, 0);
  -fx-border-color: rgb(100, 9, 52);
  -fx-text-fill: rgb(255, 255, 255) !important;
  -fx-border-style: none;
}

.containerFooter > .toContactAdminScene {
  -fx-background-color: darkblue;
  -fx-border-color: rgb(6, 61, 212);
}

.containerFooter > .toContactAdminScene:hover {
  -fx-cursor: hand;
  -fx-background-color: rgb(16, 16, 182);
  -fx-border-color: rgb(0, 68, 255);
  -fx-text-fill: rgb(255, 255, 255) !important;
  -fx-border-style: none;
}
/* HOMEPAGE SCENE END */
